@font-face {
  font-family: 'Vault Alarm';
  src: url('/fonts/VaultAlarm-Regular.woff2') format('woff2'),
      url('/fonts/VaultAlarm-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
$vault : 'Vault Alarm';
$slate-50: #f8fafc;
$slate-100: #f1f5f9;
$slate-200: #e2e8f0;
$slate-300: #cbd5e1;
$slate-400: #94a3b8;
$slate-500: #64748b;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1e293b;
$slate-900: #0f172a;
$slate-950: #020617;

$purple-50: #faf5ff;
$purple-100: #f3e8ff;
$purple-200: #e9d5ff;
$purple-300: #d8b4fe;
$purple-400: #c084fc;
$purple-500: #a855f7;
$purple-600: #9333ea;
$purple-700: #7e22ce;
$purple-800: #6b21a8;
$purple-900: #581c87;
$purple-950: #3b0764;

$sw-red:#d4282f;
$sw-blue:#31a8dB;
$sw-yellow:#efc041;
$sw-sand:#f0efef;
$sw-black:#182028;
$sw-black-trans:#182028ff;
$b-white:#ffffff;
$b-off-white:#fdfdfd;
$b-black:#303030;
$b-true-black:#000000;
$color-primary: $sw-red;


//dark mode
$text-primary:$sw-sand;
$text-secondary:$sw-red;
$header-primary:$sw-sand;
$header-secondary:$sw-red;
$subheader-primary:$sw-sand;
$subheader-secondary:$sw-red;
$text-menu:$sw-sand;
$background-primary:$sw-black;
$background-secondary:$sw-sand;
$button-border:$sw-red;
$button-hover:$sw-red;
$button-alt-border:$sw-blue;
$button-alt-hover:$sw-blue;


//light mode
$text-primary:$sw-black;
$text-secondary:$sw-red;
$header-primary:$sw-black;
$header-secondary:$sw-red;
$subheader-primary:$sw-black;
$subheader-secondary:$sw-red;
$text-menu:$sw-sand;
$background-primary:$sw-sand;
$background-secondary:$sw-black;
$button-alt-border:$sw-blue;
$button-alt-hover:$sw-blue;


:root {
  background-color:$background-primary;
  color: $text-primary;
  &.dark {
    background-color: $slate-950;
    color: $slate-100;
  }
}

body,html {
  margin:0;
  padding:0;
}
body {
  font-family: "quasimoda", sans-serif;
  box-sizing: border-box;
}

.text_secondary {
  color:$text-secondary;
}

.header {
  color:$header-primary;
}
.header_secondary {
  color:$header_secondary;
}
.subheader {
  color:$subheader-primary;
}
.subheader_secondary {
  color:$subheader-secondary;
}
.background_primary {
  background-color:$background-primary;

}

.background_secondary {
  background-color:$background-secondary;
}
.yellow {
  color:$sw-yellow;
}
.red {
  color:$sw-red;
}
.sw_button {
  border:1px solid $button-border;
  padding:8px 14px 8px 14px;
  display:inline-block;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing:1.4px;
  border-radius:3px;
  transition:all .2s ease;
  cursor:pointer;


}

.sw_button:hover {
  color:white;
  background:$button-hover;
}

.sw_button > a {
  color:$sw-red;
  text-decoration: none;
}
.sw_button > a:hover {
  color:$sw-sand;
}

.sw_button_solid {
  background:$sw-red;
  padding:8px 14px 8px 14px;
  display:inline-block;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing:1.4px;
  border-radius:3px;
  transition:all .2s ease;
  cursor:pointer;


}

.sw_button_solid > a {
  color:$sw_sand;
  text-decoration:none;
  font-size:24px;
}

.sw_button_solid > a:hover {
  color:#ffffff;
}

.sw_button_alt {
  border:1px solid $button-alt-border;
  padding:8px 14px 8px 14px;
  display:inline-block;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing:1.4px;
  border-radius:3px;
  transition:all .2s ease;
  cursor:pointer;


}

.sw_button_alt:hover {
  color:white;
  background:$button-alt-hover;
}

.announce_wrap {
  background:$sw-black;
  color:$sw-sand;
  padding:15px;
  text-align:center;
}

.announce_text {
  color:$sw-sand;
  text-transform:uppercase;
  font-size:20px;
}
.announce_link {
  color:$sw-red;
  text-decoration:none;;
}


.vault {
  font-family: 'Vault Alarm';
}

.header_wrap {
  padding: 10px;
  background:$sw-black-trans;
  z-index:999999;
  transition: background-color 0.2s ease;
  border-top:.5px solid $sw-sand;
}
.hw_fixed {
  position:fixed;
  top:0;
}
.hw_fixedv {
  padding-top:143.5px;
}
.header_mobile {
  display:none;
}
.header_inner {
  display:flex;
  flex-direction:column;
  align-items: center;
}
.header_wrap:hover {
  background:$sw-black;
}
.header_middle {
  flex:1;
}
.header_left {
width:200px;
}
.header_right {
width:200px;
}
.header_top {
  display:flex;
  flex-direction:row;
  width:100%;
  align-items: center;
}
.header_links {
  flex:1;
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  align-items: center;
}
.header_link {
  color:#303030;
  text-transform: uppercase;
}
.header_link > a {
  text-decoration: none;
  color:#303030;
  letter-spacing:1px;
  font-weight:bold;
}
.header_logo {
  flex:1;
  display:flex;
  justify-content: center;
}
.header_logo > a > img {
  width:250px;
}

.header_instagram {
align-items: center;
margin-right:105px;
}
.header_instagram > a > img {
  width:21px;
}
.header_bottom {
  display:flex;
  flex-direction:row;
  width:100%;

}

ul.header_links {
}
ul.header_links > li {
  list-style:none;
  color:red;
}

.header_link > a{
  color:$sw-sand;
}


.ls_left {
  color:$sw-sand;
}
.ls_right {
  color:$sw-sand;
}
.location_marker > svg {
  color:$sw-sand;
}

.location_overlay_class {
  /* top:80px !important; */
  z-index:9;
  background:$sw-black;
  color:$sw-sand;
}

.location_class {
  background:green;
}
.slide-pane__content {
  background:$sw-black;
}

.video_text {
  color:$sw-red;
  font-size:78px;
  font-weight:bold;
  line-height:76px;
  padding-left:10%;
  position:absolute;
}

.values_panel_wrap {
  background:#ffffff;
  padding-bottom:80px;
}
.values_header {
  font-size:50px;
  text-align: center;
  font-weight:900;
  letter-spacing:1.4px;
  color:$sw-red;
  line-height:1;
  margin-bottom:13px;
}
.values_row {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
}

.values_item {
  flex:1;
  display:flex;
  flex-direction:column;
  align-items: center;
  padding:20px;
}
.values_item_image {
  width:100%;

}
.values_item_image > img {
  width:100%;
}
.values_item_title {
  text-transform: uppercase;
  margin-top:10px;
  margin-bottom:10px;
  color:$sw-black;
  font-size:32px;
}
.values_item_description {
  padding-left:20px;
  padding-right:20px;
  text-align:center;
}

.values_inner {
  width:100%;
  // max-width:1400px;
}
.values_header_wrap {
  background:$sw-black;
  color:$sw-sand;
  padding-top:70px;
  padding-bottom:80px;

}
.values_button_row {
  display:flex;
  justify-content: center;
  margin-top:30px;
}

.product_text_button {
  background:$sw-black;
  color:$sw_sand;
  padding:8px 14px 8px 14px;
  display:inline-block;
  font-size:16px;
  text-transform: uppercase;
  letter-spacing:1.4px;
  border-radius:3px;
  transition:all .2s ease;
  cursor:pointer;
  
}
.product_text_button:hover {

  color:$sw-red;
}

.afterleft::after {
  margin-right:auto;
}
.afterright::after {
  margin-left:auto;
}

.vb_inner {
  width:100%;
}
.vb_panel_container {
  width:100%;
  max-width:1000px;
  margin:auto;
  padding-top:75px;
  padding-bottom:75px;
}
.vb_panel:not(:last-child) {
  margin-bottom:75px;
}
.vb_panel {
  width:100%;
  max-width:1000px;
  background:#ffededaa;
padding:25px;

}
.vb_panel_inner {
  width:100%;
  padding-top:80%;
  position:relative;
}
.vb_panel_inner_inner {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items:flex-end;
}
.vb_box_1 {
  display:flex;
  flex-direction:column;
}
.vb_line {
  font-size:40px;
  background:$sw-black;
  color:$sw_red;
}


.sw_footer_wrap {
  background:#182028;
}

.sw_footer_inner {
  padding-top:75px;
  padding-bottom:75px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding-left:15px;
  padding-right:15px;
  color:$sw-sand;
}
.sw_footer_top {
  font-size:48px;
  margin-bottom:60px;
}
.sw_footer_links {
  display:flex;
  flex-direction:row;
  justify-content: space-around;
  width:75%;
}

.footer_copy {
  color:white;
  width:25%;
  text-align:right;
}
.footer_link > a {
  color:white;
}
.footer_copyright {
  text-align: center;
  padding-bottom: 10px;
  color:white;
  font-size:10px;
}

.sw_footer_columns {
  display:flex;
  flex-direction:row;
}

.sw_footer_column {
  margin-left:40px;
}
.sw_footer_location {
  text-align:left;
}

.sw_footer_location_title {
  color:$sw-red;
  font-size:20px;
  margin-bottom:20px;
}

.sw_footer_location_place {
  border-left:1px solid $sw-red;
  padding-left:10px;
  margin-bottom:20px;
}

a.sw_footer_location_address {
  color:$sw-sand;
}
a.sw_footer_location_button {
  color:$sw-sand;
}
.sw_footer_hours {
  color:$sw-sand;
}

.location_view_wrap {
  width:100%;
  padding-top:75px;
  padding-bottom:75px;
}

.location_view_inner {
  width:100%;
  max-width:1200px;
  margin:auto;
  text-align:center;
}
.location_name {
  font-size:48px;
  color:$sw-black; 
}

.location_hours {
  color:$sw-black;
  display:flex;
  flex-direction:column;
}

.location_hours_line {
  color:$sw-black;
}

.location_map {
  width:100%;
  padding-top:50%;
  position:relative;
  margin-top:25px;
}

.location_map_inner {
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:white;
}

.ll_name {
  color:$sw-black;
  font-size:48px;
}
.location_list_wrap {
  width:100%;
  max-width:1000px;
  margin:auto;
}
.ll_wrap {
  text-align: center;
  padding-top:25px;
  padding-bottom:25px;
  border-bottom:1px solid $sw-black;
}
.ll_hours {
  margin-top:15px;
}
.ll_hour_line {

}

.ll_phone {
  margin-top:15px;
}

.ll_phone > a {
  color:$sw_black;
}

.ll_button {
  background:$sw-black;
  display:inline-block;
  padding:10px 12px 10px 12px;
  color:$sw-sand;
  line-height:1;
  margin-top:15px;
  cursor:pointer;
}
.ll_button:hover {
  text-decoration:underline;
}

.hero_panel_wrap {

}

.hero_panel_inner {
    width:100%;
    padding-top:50%;
    position:relative;
}
.hero_panel_content_container {
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display:flex;
    justify-content: center;
    align-items: center;
}

.hero_panel_content_wrap {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:flex-start;
    width:100%;
    height:100%;
    padding:70px 90px;
}
.hero_panel_preheader {
    color:white;
    text-transform: uppercase;
    margin-bottom:.5em;
}
.hero_panel_header {
    color:white;
    margin:0;
    font-size:56px;
    line-height: 1.1;
    font-weight:300;
    margin-bottom:20px;
}
.hero_panel_subtext {
    color:white;
    margin-bottom:2px;
}
.hero_panel_button {
    margin-top:30px;
}
.hero_button_inner {
    padding:18px 28px;
    background:$sw-red;
    border-radius:4px;
    font-size:36px;
}
.hero_button_inner {
  color:$sw-black;
  text-decoration:none;
}
.hero_button_inner:hover {
  text-decoration:underline;
}


.hero_panel_fullimage {
  width:100%;
  position:relative;
}
.hero_panel_fullimage > img {
  width:100%;
  padding:20px;
  box-sizing:border-box;
}

.hero_panel_fullimage_button {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

.agecheck_wrapper {
  width:100%;
  height:100vh;
}

.agecheck_inner {
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.agecheckbox {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  background:$sw-sand;
  padding:55px;
  border-radius:4px;
}
.agecheckbuttonswrap {
  margin-top:12px;
  display:flex;
  justify-content: space-around;
}
.agecheckbutton {
  background:$sw-black;
  color:$sw-red;
  padding:10px 0px 10px 0px;
  border-radius:4px;
  cursor:pointer;
  margin-left:10px;
  margin-right:10px;
  font-size:22px;
  width:65px;
  text-align: center;

}
.agechecktitle {
  font-size:36px;
  color:$sw-black;
}

.agecheckquestion {

}

.agechecklogo >img {
  width:300px;
}
.rewardssignup_wrapper {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content: center;
 backdrop-filter: blur(10px);

}
.rewardsignup_inner {
  width:100%;
  height:100%;
  position:relative;
} 
.rs_box {
  background:$sw-sand;
  position:relative;
  top:160px;
  left:50%;
  transform:translateX(-50%);
  padding:55px;
  border-radius:4px;
  z-index:99999999;
  display:flex;
  flex-direction:column;
  align-items: center;
  width:400px;
}

.rs_box2 {
  background:#050505;
  position:relative;
  top:160px;
  left:50%;
  transform:translateX(-50%);
  border-radius:4px;
  z-index:99999999;
  display:flex;
  flex-direction:column;
  align-items: center;
  width:800px;
  overflow:hidden;
}
.rs_box_top {
  color:$sw-red;
  text-align:center;
}
.rs_box_top_title {
  font-size: 66px;
  line-height:1;
}
.rs_box_top_sub {
  font-size:42px;
  line-height:1;
}

.rs_box_top > img {
  width:100%;
}
.rs_box_left {
  flex:1;

}
.rs_box_right {
  flex:1;
}

.rs_box_bottom {
  display:flex;
  flex-direction:row;
  margin-top:15px;
  padding-top:15px;
  padding-bottom:25px;
  border-top:1px solid $sw-sand;
}
.rs_title {
  font-size:54px;
}

.rs_more {
  font-size:24px;
  text-align:center;
}

.dd_red {
  color:$sw-red;
}

.rs_email_signup {
  display:flex;
  flex-direction:column;
  margin-bottom:15px;
}
.rs_signup_row {
  display:flex;
  margin-bottom:5px;

}
.rs_signup_row > input {
  flex:1;
  margin-right:5px;
  height:22px;
  padding:4px;
}
.rs_signup_text {
  color:$sw-red;
  font-size:22px;
}
.rs_signup_close {
  position:absolute;
  top:10px;
  right:10px;
  cursor:pointer;
}

.rs_button {
  background:$sw-black;
  color:$sw-sand;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  cursor:pointer;
  font-family:$vault;
}

.rs_left_image {
  width:100%;
  display:block;
}

.sidenews_wrapper {
  position:fixed;
  bottom:5%;
  left:2%;
  width:300px;
}

.sidenews_inner {
  width:100%;
  cursor:pointer;
}
.sidenews_inner >div > img {
  width:100%;
}

.sidenews_inner_wrap {
  position:relative;
}
.sidenews_close {
  position:absolute;
  top:0px;
  left:0px;
}
.dm_inner {
  
  width:100%;
  max-width:1000px;
  margin:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding-bottom:75px;
  box-sizing:border-box;
}

.dm_top_header {
//  margin-top:25px;
background: $sw-black;
padding-top:20px;
padding-bottom:50px;
text-align:center;
margin-bottom:50px;
border-bottom:.5px solid $sw-black;
}
.dm_top_header > img {
  width:300px;
}
.dm_top_title {
  font-size:48px;
}

.dm_section {
  width:100%;
  text-align:left;
  margin-bottom:15px;
}
.dm_header {
  font-size:36px;
  margin-bottom:10px;
}
.dm_group {
  display:flex;
  flex-direction:row;
  justify-content: flex-start;
  color:$sw-black;
  font-size:18px;
  align-items: center;
  margin-bottom:6px;
}

.dm_line_title {
  font-weight:bold;
  background:$sw-yellow;
  padding:4px;
  margin-right:3px;
}
.dm_line_title_ed {
  font-weight:bold;
  background:$sw-red;
  padding:4px;
  margin-right:3px;
  color:$sw-sand;
}

.dm_specs_wrap {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-between;
}
.dm_specs_item {
  width:30%;
}
.dm_specs_item > img {
  width:100%;
}
.iwt_text_button_wrap {
  margin-top:8px;

}

.iwt_reverse {
  flex-direction:row-reverse;

}
.iwt_normal {
  flex-direction:row;
}

.signup_wrap {
  width:100%;
  background:$sw-yellow;
}

.signup_inner {
  width:100%;
  padding-top:50px;
  padding-bottom:75px;
  text-align: center;
  color:white;
}


.signup_text {
  margin-bottom:10px;
}
.signup_heading {
  font-size:80px;
  font-weight:bold;
  text-transform:uppercase;
}
.signup_body {
  font-size:14px;
}

.signup_form {
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.signup_form_inner {
  width:100%;
  max-width:400px;
  display:flex;
  flex-direction:row;
  align-items: center;
}
.signup_input {
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}
.signup_input > input {
flex:1;
height:40px;
}

.signup_button {
  background:#182028;
  color:white;
  height:46px;
  padding-left:8px;
  padding-right:8px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
}

.signup_body_text {
  max-width:400px;
  margin:auto;
  margin-top:15px;
  color:$sw-red;
}

.signup_text_title {
  font-size:48px;
  text-transform:uppercase;
  line-height:1.1;
  color:$sw-sand;
}
.sw_footer_location_address > a {
  color:$sw-sand;
  text-decoration:none;
}

.sw_footer_location_address > a:hover {
  text-decoration:underline;
}

.faq_inner {
  width:100%;
  text-align:center;
  font-size:36px;
  padding-top:75px;
  padding-bottom:75px;
}

.lc_select {
  background:$sw-black;
  padding:5px;
  text-align:center;
  color:$sw-sand;
  margin-top:5px;
  border-radius:4px;
}
.blog_inner {
  padding-bottom:75px;
}
.blog_row {
  display:flex;
  flex-direction:row;
  padding-left:60px;
  padding-right:60px;
  justify-content: space-between;
}
.blog_item {
  width:31%;
}
.blog_item_inner {
  width:100%;

}

.blog_item_inner > img {
  width:100%;
}

.blog_item_title {
  font-size:21px;
}

.blog_item_button {
  background:$sw-black;
  padding:10px 12px 10px 12px;
  color:$sw-sand;
  margin-top:5px;
  display:inline-block;
  cursor:pointer;
}

.blog_item_button:hover {
  color:$sw-red;
}
.mobile_gate {
  display:initial;
}
.mobile_message {
  display:none;
}

@media(max-width:900px) {
  .mobile_gate {
    display:none;
  }
  .mobile_message {
    display:flex;
    width:100%;
    height:90vh;
    justify-content: center;
    align-items: center;
    padding:20px;
  }
}

.loy_header {
  font-size:36px;
  margin-bottom:10px;
  text-align:center;
}
.loy_group {
  display:flex;
  flex-direction:row;
  justify-content: center;
  color:$sw-black;
  font-size:18px;
  align-items: center;
  margin-bottom:6px;
}

.loy_line_title {
  font-weight:bold;
  background:$sw-yellow;
  padding:4px;
  margin-right:3px;
}


.mobile_menu {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:$sw-black;
  display:flex;
  justify-content: center;
  align-items:center;
  z-index:999999999999999999;
}

.mobile_menu_inner {
  color:white;
}
.mobile_header_links {
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  align-items: center;
}
.mobile_header_link {
  color:#303030;
  text-transform: uppercase;
}
ul.mobile_header_links > li {
  list-style:none;
  color:red;
}

.mobile_header_link_push {
  color:$sw-sand;
  text-decoration:none;
  font-size:36px;
  cursor:pointer;
}
.mobile_menu_close {
  color:white;
  position:absolute;
  top:10px;
  right:20px;
  cursor:pointer;
}


.pc_box_wrap {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding-left:20px;
  padding-right:20px;
}

.pc_box { 
  width:calc(16.66666% - 16.8px);
  margin-right:20px;
  margin-bottom:20px;
}
/* .pc_box:nth-child(3) {
  margin-right:0px;
} */
.pc_box:nth-child(6) {
  margin-right:0px;
}

.pc_box_inner {
  width:100%;

}
.pc_box_image {
  width:100%;
  position:relative;
}
.pc_box_image > img {
  width:100%;
  display:block;
}
.pc_box_title {
  position: absolute;
  font-size:22px;
  color:white;
  text-transform:uppercase;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items: center;
  background:rgba(24,32,40,.2);
}
.pc_link {
  color:white;
  text-decoration: none;;
}
.pc_link:hover {
  text-decoration:underline;
}
.pc_top {
  width:100%;
  text-align:left;
  padding-top:25px;
  padding-bottom:25px;
  padding-left:20px;
  display: flex;
  align-items: center;
  box-sizing:border-box;
}
.pc_top_left {
  width:33%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pc_top_right {
  width:66%;
}

.pc_map_wrap {
  width:100%;
  padding-top:50%;
  position:relative;

}
.pc_map_wrap > img {
  width:100%;

}
.pc_map_inside {
  position:absolute;
  background:pink;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.pc_title {
  font-size:36px;
  margin-bottom:3px;
  text-transform:uppercase;
  color:#182028;
}

@media(max-width:767px) {
  .header_inner {
    display:none;
  }
  .header_mobile {
    display:inline-block;
  }
  .video_text {
    font-size:50px;
    line-height:1;
  }
  .about_panel_body {
    width:90%;
  }
  .values_row {
    flex-direction:column;
  }
  .pc_top {
    flex-direction:column;
    padding-right:20px;
  }
  .pc_top_left {
    width:100%;
    padding-bottom:25px;
  }
  .pc_top_right {
    width:100%;
  }
  .pc_box {
    width:calc(50% - 20px);
  }
  .sw_footer_columns {
    flex-direction:column;
  }
  .iwt_reverse {
    flex-direction:column;
  }
  .iwt_normal {
    flex-direction:column;
  }
  .iwt_text {
    padding-left:30px;
    padding-right:30px;
  }
  .iwt_wrap {
    margin-bottom:25px;
  }
  .blog_row {
    flex-direction:column;
  }
  .blog_item {
    width:100%;
    margin-bottom:25px;
  }
  .rs_box2 {
    width:90%;
  }
  .sw_footer_bottom {
    width:100%;
  }
  .sw_footer_mobile_top {
    margin-bottom:25px;
  }
  .dm_inner {
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .location_name {
    line-height:1;
    margin-bottom:10px;
  }
  
}