$sw-red:#d4282f;
$sw-blue:#31a8dB;
$sw-yellow:#efc041;
$sw-sand:#f0efef;
$sw-black:#182028;

$b-white:#ffffff;
$b-off-white:#fdfdfd;
$b-black:#303030;
$b-true-black:#000000;
$color-primary: $sw-red;


.cat {
    color: $color-primary;
}